#       Seq2Seq: Text Summarization with Keras
#### ディープラーニングによる文章要約
![](http://abigailsee.com/img/pointer-gen.png)

## Process
1. Preprocessing
2. Word2vec
3. Building Seq2Seq Architecture
4. Training with  BBC article&summary Dataset
5. Generate Summary with my_summarizer

## Step 1. Import Data

In [1]:
import numpy as np
import os
import pandas as pd
import re

In [2]:
pwd

'C:\\Users\\Shantanu\\Dropbox\\NLP-Workshop\\Text_Summarization_using_Bidirectional_LSTM-master'

In [3]:
news_category = ["business", "entertainment", "politics", "sport", "tech"]

row_doc = "data/News Articles/"
summary_doc = "data/Summaries/"

data={"articles":[], "summaries":[]}

In [4]:
import os
directories = {"news": row_doc, "summary": summary_doc}
row_dict = {}
sum_dict = {}

for path in directories.values():
    if path == row_doc:
        file_dict = row_dict
    else:
        file_dict = sum_dict
    dire = path
    for cat in news_category:
        category = cat
        files = os.listdir(dire + category)
        file_dict[cat] = files

In [5]:
row_data = {}
for cat in row_dict.keys():
    cat_dict = {}
    # row_data_frame[cat] = []
    for i in range(0, len(row_dict[cat])):
        filename = row_dict[cat][i]
        path = row_doc + cat + "/" + filename
        with open(path, "rb") as f:                
            text = f.read()
            cat_dict[filename[:3]] = text
    row_data[cat] = cat_dict

In [6]:
sum_data = {}
for cat in sum_dict.keys():
    cat_dict = {}
    # row_data_frame[cat] = []
    for i in range(0, len(sum_dict[cat])):
        filename = sum_dict[cat][i]
        path = summary_doc + cat + "/" + filename
        with open(path, "rb") as f:                
            text = f.read()
            cat_dict[filename[:3]] = text
    sum_data[cat] = cat_dict

In [7]:
news_business = pd.DataFrame.from_dict(row_data["business"], orient="index", columns=["row_article"])
news_business.head()

                                           row_article
001  b'Ad sales boost Time Warner profit\n\nQuarter...
002  b'Dollar gains on Greenspan speech\n\nThe doll...
003  b'Yukos unit buyer faces loan claim\n\nThe own...
004  b'High fuel prices hit BA\'s profits\n\nBritis...
005  b"Pernod takeover talk lifts Domecq\n\nShares ...

In [8]:
#  news_category = ["business", "entertainment", "politics", "sport", "tech"]
news_entertainment = pd.DataFrame.from_dict(row_data["entertainment"], orient="index", columns=["row_article"])
news_politics = pd.DataFrame.from_dict(row_data["politics"], orient="index", columns=["row_article"])
news_sport = pd.DataFrame.from_dict(row_data["sport"], orient="index", columns=["row_article"])
news_tech = pd.DataFrame.from_dict(row_data["tech"], orient="index", columns=["row_article"])

In [9]:
# summary data
summary_business = pd.DataFrame.from_dict(sum_data["business"], orient="index", columns=["summary"])
summary_entertainment = pd.DataFrame.from_dict(sum_data["entertainment"], orient="index", columns=["summary"])
summary_politics = pd.DataFrame.from_dict(sum_data["politics"], orient="index", columns=["summary"])
summary_sport = pd.DataFrame.from_dict(sum_data["sport"], orient="index", columns=["summary"])
summary_tech = pd.DataFrame.from_dict(sum_data["tech"], orient="index", columns=["summary"])

In [10]:
summary_business.head()

                                               summary
001  b"TimeWarner said fourth quarter sales rose 2%...
002  b'The dollar has hit its highest level against...
003  b'Yukos\' owner Menatep Group says it will ask...
004  b'Rod Eddington, BA\'s chief executive, said t...
005  b"Pernod has reduced the debt it took on to fu...

In [11]:
business = news_business.join(summary_business, how='inner')
entertainment = news_entertainment.join(summary_entertainment, how='inner')
politics = news_politics.join(summary_politics, how='inner')
sport = news_sport.join(summary_sport, how='inner')
tech = news_tech.join(summary_tech, how='inner')

In [12]:
business = news_business.join(summary_business, how='inner')

In [13]:
business.head()

,row_article,summary
001,b'Ad sales boost Time Warner profit\n\nQuarter...,"b""TimeWarner said fourth quarter sales rose 2%..."
002,b'Dollar gains on Greenspan speech\n\nThe doll...,b'The dollar has hit its highest level against...
003,b'Yukos unit buyer faces loan claim\n\nThe own...,b'Yukos\' owner Menatep Group says it will ask...
004,b'High fuel prices hit BA\'s profits\n\nBritis...,"b'Rod Eddington, BA\'s chief executive, said t..."
005,"b""Pernod takeover talk lifts Domecq\n\nShares ...","b""Pernod has reduced the debt it took on to fu..."

In [14]:
print("row", len(business.iloc[0,0]))
print("sum", len(business.iloc[0,1]))

row 2560
sum 901

In [15]:
list_df = [business, entertainment, politics, sport, tech]
length = 0
for df in list_df:
    length += len(df)

In [16]:
print("length of all data: ", length)

length of all data:  2225

In [17]:
bbc_df = pd.concat([business, entertainment, politics, sport, tech], ignore_index=True)
len(bbc_df)

2225

## Step 2. Preprocessing Text Data
1. Clean Text
2. Tokenize
3. Vocabrary
4. Padding
5. One-Hot Encoding
6. Reshape to (MAX_LEN, One-Hot Encoding DIM)

### 2-1. Clean Text

In [18]:
def cleantext(text):
    text = str(text)
    text=text.split()
    words=[]
    for t in text:
        if t.isalpha():
            words.append(t)
    text=" ".join(words)
    text=text.lower()
    text=re.sub(r"what's","what is ",text)
    text=re.sub(r"it's","it is ",text)
    text=re.sub(r"\'ve"," have ",text)
    text=re.sub(r"i'm","i am ",text)
    text=re.sub(r"\'re"," are ",text)
    text=re.sub(r"n't"," not ",text)
    text=re.sub(r"\'d"," would ",text)
    text=re.sub(r"\'s","s",text)
    text=re.sub(r"\'ll"," will ",text)
    text=re.sub(r"can't"," cannot ",text)
    text=re.sub(r" e g "," eg ",text)
    text=re.sub(r"e-mail","email",text)
    text=re.sub(r"9\\/11"," 911 ",text)
    text=re.sub(r" u.s"," american ",text)
    text=re.sub(r" u.n"," united nations ",text)
    text=re.sub(r"\n"," ",text)
    text=re.sub(r":"," ",text)
    text=re.sub(r"-"," ",text)
    text=re.sub(r"\_"," ",text)
    text=re.sub(r"\d+"," ",text)
    text=re.sub(r"[$#@%&*!~?%{}()]"," ",text)
    
    return text

In [19]:
for col in bbc_df.columns:
    bbc_df[col] = bbc_df[col].apply(lambda x: cleantext(x))

In [20]:
bbc_df.head()

,row_article,summary
0,sales boost time warner profits at us media gi...,said fourth quarter sales rose to from the tim...
1,gains on greenspan dollar has hit its highest ...,dollar has hit its highest level against the e...
2,unit buyer faces loan owners of embattled russ...,owner menatep group says it will ask rosneft t...
3,fuel prices hit airways has blamed high fuel p...,chief said the results were in a third quarter...
4,takeover talk lifts in uk drinks and food firm...,has reduced the debt it took on to fund the se...

In [21]:
df.head()

,row_article,summary
001,b'Ink helps drive democracy in Asia\n\nThe Kyr...,b'The other common type of ink in elections is...
002,b'China net cafe culture crackdown\n\nChinese ...,"b""Laws on net cafe opening hours and who can u..."
003,"b""Microsoft seeking spyware trojan\n\nMicrosof...","b""Microsoft is investigating a trojan program ..."
004,b'Digital guru floats sub-$100 PC\n\nNicholas ...,"b'He said one laptop per child could be "" very..."
005,b'Technology gets the creative bug\n\nThe hi-t...,"b'""We are hoping to understand the creative in..."

In [22]:
len_list =[]
for article in df.row_article:
    words = article.split()
    length = len(words)
    len_list.append(length)
max(len_list)

2969

### 2-2. Tokenizer
1. Tokenize and One-Hot : Tokenizer
2. Vocabraly: article and summary 15000 words 
3. Padding: pad_sequences 1000 max_len
4. Reshape: manual max_len * one-hot matrix

In [23]:
import numpy as np
import os
import pandas as pd
import re

In [24]:
bbc_art_sum = pd.read_csv("cleaned_bbc_news.csv")
bbc_art_sum.drop("Unnamed: 0", axis=1, inplace=True)
bbc_art_sum.head()

,row_article,summary
0,continues rapid economy has expanded by a brea...,overall investment in fixed assets was still u...
1,deccan seals deccan has ordered airbus planes ...,government has given its backing to cheaper an...
2,job growth continues in us created fewer jobs ...,creation was one of last main concerns for the...
3,owner buys rival for retail giant federated de...,retail giant federated department stores is to...
4,secures giant japan is to supply japan airline...,chose the after carefully considering both it ...

In [25]:
articles = list(bbc_art_sum.row_article)
summaries = list(bbc_art_sum.summary)

In [26]:
import tensorflow.keras as tfk

C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

### 2-2-1. Tokenize: text_to_word_sequence

In [27]:
from keras.preprocessing.text import Tokenizer
VOCAB_SIZE = 5000
tokenizer = Tokenizer(num_words=VOCAB_SIZE)
tokenizer.fit_on_texts(articles)
article_sequences = tokenizer.texts_to_sequences(articles)
art_word_index = tokenizer.word_index
len(art_word_index)

Using TensorFlow backend.

23914

In [28]:
print(article_sequences[0][:20])
print(article_sequences[1][:20])
print(article_sequences[2][:20])

[1411, 2338, 248, 16, 3994, 22, 5, 165, 1359, 50, 966, 4, 120, 967, 176, 118, 505, 38, 2339, 10]
[16, 2233, 3001, 3441, 6, 5, 217, 18, 60, 1270, 6, 1, 827, 11, 108, 45, 59, 86, 4, 470]
[478, 196, 1411, 6, 54, 736, 2283, 498, 50, 164, 6, 24, 349, 17, 9, 1, 3322, 6, 11, 26]

### 2-2-2. Vocabraly: article and summary 15000 words

In [29]:
art_word_index_1500 = {}
counter = 0
for word in art_word_index.keys():
    if art_word_index[word] == 0:
        print("found 0!")
        break
    if art_word_index[word] > VOCAB_SIZE:
        continue
    else:
        art_word_index_1500[word] = art_word_index[word]
        counter += 1

In [30]:
counter

5000

In [31]:
tokenizer.fit_on_texts(summaries)
summary_sequences = tokenizer.texts_to_sequences(summaries)
sum_word_index = tokenizer.word_index
len(sum_word_index)

23929

In [32]:
sum_word_index_1500 = {}
counter = 0
for word in sum_word_index.keys():
    if sum_word_index[word] == 0:
        print("found 0!")
        break
    if sum_word_index[word] > VOCAB_SIZE:
        continue
    else:
        sum_word_index_1500[word] = sum_word_index[word]
        counter += 1

In [33]:
counter

5000

### 2-2-3. Padding: pad_sequences 1000 max_len

In [34]:
from keras.preprocessing.sequence import pad_sequences
MAX_LEN = 100
pad_art_sequences = pad_sequences(article_sequences, maxlen=MAX_LEN, padding='post', truncating='post')

In [35]:
print(len(article_sequences[1]), len(pad_art_sequences[1]))

220 100

In [36]:
pad_sum_sequences = pad_sequences(summary_sequences, maxlen=MAX_LEN, padding='post', truncating='post')

In [37]:
print(len(summary_sequences[1]), len(pad_sum_sequences[1]))

80 100

In [38]:
pad_art_sequences.shape

(2225, 100)

In [39]:
pad_art_sequences

array([[1411, 2338,  248, ...,    2, 1110,    9],
       [  16, 2233, 3001, ...,    4,   38, 3710],
       [ 478,  196, 1411, ...,    1, 4192,   24],
       ...,
       [ 421, 1337, 2012, ...,    5,    3,    5],
       [2164,  267, 1109, ...,   32,   34,  441],
       [   7,  284,    8, ...,    4,  753, 1528]])

### 2-2-4. Reshape: manual max_len * one-hot matrix

In [40]:
# 使わない
"""
encoder_inputs = np.zeros((2225, 1000), dtype='float32')
encoder_inputs.shape

decoder_inputs = np.zeros((2225, 1000), dtype='float32')
decoder_inputs.shape

for i, seqs in enumerate(pad_art_sequences):
    for j, seq in enumerate(seqs):
        encoder_inputs[i, j] = seq
        
for i, seqs in enumerate(pad_sum_sequences):
    for j, seq in enumerate(seqs):
        decoder_inputs[i, j] = seq
"""

"\nencoder_inputs = np.zeros((2225, 1000), dtype='float32')\nencoder_inputs.shape\n\ndecoder_inputs = np.zeros((2225, 1000), dtype='float32')\ndecoder_inputs.shape\n\nfor i, seqs in enumerate(pad_art_sequences):\n    for j, seq in enumerate(seqs):\n        encoder_inputs[i, j] = seq\n        \nfor i, seqs in enumerate(pad_sum_sequences):\n    for j, seq in enumerate(seqs):\n        decoder_inputs[i, j] = seq\n"

In [41]:
# decoder_outputs = np.zeros((2225, 1000, 15000), dtype='float32')
# decoder_outputs.shape

In [42]:
# for i, seqs in enumerate(pad_sum_sequences):
#     for j, seq in enumerate(seqs):
#         decoder_outputs[i, j, seq] = 1.

In [43]:
# decoder_outputs.shape

### 2-2-5. Pre-trained word2vec and word2vec Matrix

In [44]:
from tensorflow.keras.layers import Embedding

In [45]:
embeddings_index = {}
with open('glove.6B.50d.txt', encoding='utf-8') as f:
    for line in f:
        values = line.split()
        word = values[0]
        coefs = np.asarray(values[1:], dtype='float32')
        embeddings_index[word] = coefs
    f.close()

print('Found %s word vectors.' % len(embeddings_index))

Found 400000 word vectors.

In [46]:
def embedding_matrix_creater(embedding_dimention, word_index):
    embedding_matrix = np.zeros((len(word_index) + 1, embedding_dimention))
    for word, i in word_index.items():
        embedding_vector = embeddings_index.get(word)
        if embedding_vector is not None:
          # words not found in embedding index will be all-zeros.
            embedding_matrix[i] = embedding_vector
    return embedding_matrix

In [47]:
# art_embedding_matrix = embedding_matrix_creater(200, word_index=art_word_index_1500)
art_embedding_matrix = embedding_matrix_creater(50, word_index=art_word_index_1500)
art_embedding_matrix.shape

(5001, 50)

In [48]:
sum_embedding_matrix = embedding_matrix_creater(50, word_index=sum_word_index_1500)
sum_embedding_matrix.shape

(5001, 50)

In [49]:
encoder_embedding_layer = Embedding(input_dim = 5001, 
                                    output_dim = 50,
                                    input_length = MAX_LEN,
                                    weights = [art_embedding_matrix],
                                    trainable = False)

WARNING:tensorflow:From C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [50]:
decoder_embedding_layer = Embedding(input_dim = 5001, 
                                    output_dim = 50,
                                    input_length = MAX_LEN,
                                    weights = [sum_embedding_matrix],
                                    trainable = False)

In [51]:
sum_embedding_matrix.shape

(5001, 50)

## Step 3. Building Encoder-Decoder Model

In [52]:
from numpy.random import seed
seed(1)

from sklearn.model_selection import train_test_split
import logging

# import chart_studio.plotly as py
# import plotly.graph_objs as go
# import matplotlib.pyplot as plt
import pandas as pd
# import pydot


import keras
from tensorflow.keras import backend as k
k.set_learning_phase(1)
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras import initializers
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.models import Sequential,Model
from tensorflow.keras.layers import Dense,LSTM,Dropout,Input,Activation,Add,concatenate, Embedding, RepeatVector
from tensorflow.keras.layers import LeakyReLU,PReLU
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.models import load_model
from tensorflow.keras.optimizers import Adam

In [53]:
import tensorflow as tf
config = tf.ConfigProto()
config.gpu_options.allow_growth = True

In [54]:
from keras.layers import TimeDistributed

In [55]:
# Hyperparams

MAX_LEN = 100
VOCAB_SIZE =5000
EMBEDDING_DIM = 50
HIDDEN_UNITS = 200
VOCAB_SIZE = VOCAB_SIZE + 1

LEARNING_RATE = 0.002
BATCH_SIZE = 32
EPOCHS = 5

In [56]:
keras.__version__

'2.2.4'

In [57]:
# Training and Testing Data Split
import numpy as np
num_samples = len(pad_sum_sequences)
decoder_output_data = np.zeros((num_samples, MAX_LEN, VOCAB_SIZE), dtype="int32")

# outputの３Dテンソル
for i, seqs in enumerate(pad_sum_sequences):
    for j, seq in enumerate(seqs):
        if j > 0:
            decoder_output_data[i][j][seq] = 1
            
art_train, art_test, sum_train, sum_test = train_test_split(pad_art_sequences, pad_sum_sequences, test_size=0.2)

train_num = art_train.shape[0]
train_num

target_train = decoder_output_data[:train_num]
target_test = decoder_output_data[train_num:]

### Model 1. Simple LSTM Encoder-Decoder-seq2seq

In [58]:
# """
# Simple LSTM Encoder-Decoder-seq2seq
# """
# # encoder
# encoder_inputs = Input(shape=(MAX_LEN, ), dtype='int32',)
# encoder_embedding = encoder_embedding_layer(encoder_inputs)
# encoder_LSTM = LSTM(HIDDEN_UNITS)(encoder_embedding)
# # decoder
# decoder_inputs = Input(shape=(MAX_LEN, ))
# decoder_embedding = decoder_embedding_layer(decoder_inputs)
# decoder_LSTM = LSTM(200)(decoder_embedding)
# # merge
# merge_layer = concatenate([encoder_LSTM, decoder_LSTM])
# decoder_outputs = Dense(units=VOCAB_SIZE+1, activation="softmax")(merge_layer) # SUM_VOCAB_SIZE, sum_embedding_matrix.shape[1]

# model = Model([encoder_inputs, decoder_inputs], decoder_outputs)
# model.summary()

In [59]:
# model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"])
# history = model.fit([art_train, sum_train], 
#                      target_train, 
#                      epochs=EPOCHS, 
#                      batch_size=BATCH_SIZE,
#                      validation_data=([art_test, sum_test], target_test))

### Model 2. Bidirectional LSTM Encoder-Decoder-seq2seq

In [60]:
"""
Bidirectional LSTM: Others Inspired Encoder-Decoder-seq2seq
"""
encoder_inputs = Input(shape=(MAX_LEN,))
encoder_embedding = encoder_embedding_layer(encoder_inputs)
encoder_LSTM = LSTM(HIDDEN_UNITS, return_state=True)
encoder_LSTM_R = LSTM(HIDDEN_UNITS, return_state=True, go_backwards=True)
encoder_outputs_R, state_h_R, state_c_R = encoder_LSTM_R(encoder_embedding)
encoder_outputs, state_h, state_c = encoder_LSTM(encoder_embedding)

final_h = Add()([state_h, state_h_R])
final_c = Add()([state_c, state_c_R])
encoder_states = [final_h, final_c]

"""
decoder
"""
decoder_inputs = Input(shape=(MAX_LEN,))
decoder_embedding = decoder_embedding_layer(decoder_inputs)
decoder_LSTM = LSTM(HIDDEN_UNITS, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_LSTM(decoder_embedding, initial_state=encoder_states) 
decoder_dense = Dense(VOCAB_SIZE, activation='linear')
decoder_outputs = decoder_dense(decoder_outputs)

model= Model(inputs=[encoder_inputs,decoder_inputs], outputs=decoder_outputs)

WARNING:tensorflow:From C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [62]:
model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"])
history = model.fit([art_train, sum_train], 
                     target_train, 
                     epochs=EPOCHS, 
                     batch_size=BATCH_SIZE,
                     validation_data=([art_test, sum_test], target_test))

Train on 1780 samples, validate on 445 samples
WARNING:tensorflow:From C:\Users\Shantanu\Anaconda3\envs\TXTSUMG\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/5
1780/1780 [==============================] - 28s 16ms/sample - loss: 9.8539 - acc: 0.0745 - val_loss: 8.2601 - val_acc: 0.0182
Epoch 2/5
1780/1780 [==============================] - 26s 14ms/sample - loss: 9.8004 - acc: 0.0219 - val_loss: 9.6269 - val_acc: 0.0105
Epoch 3/5
1780/1780 [==============================] - 26s 14ms/sample - loss: 10.6502 - acc: 0.0040 - val_loss: 10.5547 - val_acc: 0.0061
Epoch 4/5
1780/1780 [==============================] - 25s 14ms/sample - loss: 8.6880 - acc: 0.0196 - val_loss: 13.7647 - val_acc: 0.0236
Epoch 5/5
1780/1780 [==============================] - 25s 14ms/sample - loss: 13.9106 - acc: 0.0214 - val_loss: 13.2153 - val_acc: 0.0254

In [73]:
model.save_weights('seq.h5')

### Model 3. Chatbot Inspired Encoder-Decoder-seq2seq

In [63]:
# """
# Chatbot Inspired Encoder-Decoder-seq2seq
# """
# encoder_inputs = Input(shape=(MAX_LEN, ), dtype='int32',)
# encoder_embedding = encoder_embedding_layer(encoder_inputs)
# encoder_LSTM = LSTM(HIDDEN_UNITS, return_state=True)
# encoder_outputs, state_h, state_c = encoder_LSTM(encoder_embedding)

# decoder_inputs = Input(shape=(MAX_LEN, ), dtype='int32',)
# decoder_embedding = decoder_embedding_layer(decoder_inputs)
# decoder_LSTM = LSTM(HIDDEN_UNITS, return_state=True, return_sequences=True)
# decoder_outputs, _, _ = decoder_LSTM(decoder_embedding, initial_state=[state_h, state_c])

# # dense_layer = Dense(VOCAB_SIZE, activation='softmax')
# outputs = TimeDistributed(Dense(VOCAB_SIZE, activation='softmax'))(decoder_outputs)
# model = Model([encoder_inputs, decoder_inputs], outputs)

In [64]:
# rmsprop = RMSprop(lr=0.01, clipnorm=1.)
# model.compile(loss='mse', optimizer=rmsprop, metrics=["accuracy"])

In [65]:
# model 2
# model.summary()

## Step 4. Training your model and Validate it

In [66]:
# import numpy as np
# num_samples = len(pad_sum_sequences)
# decoder_output_data = np.zeros((num_samples, MAX_LEN, VOCAB_SIZE), dtype="int32")

In [67]:
# outputの３Dテンソル
# for i, seqs in enumerate(pad_sum_sequences):
#     for j, seq in enumerate(seqs):
#         if j > 0:
#             decoder_output_data[i][j][seq] = 1

In [68]:
# art_train, art_test, sum_train, sum_test = train_test_split(pad_art_sequences, pad_sum_sequences, test_size=0.2)

In [69]:
# train_num = art_train.shape[0]
# train_num

# target_train = decoder_output_data[:train_num]
# target_test = decoder_output_data[train_num:]

In [70]:
# target_train = decoder_output_data[:train_num]
# target_test = decoder_output_data[train_num:]

In [71]:
# history = model.fit([art_train, sum_train], 
#                      target_train, 
#                      epochs=EPOCHS, 
#                      batch_size=BATCH_SIZE,
#                      validation_data=([art_test, sum_test], target_test))

#### Visualization

In [ ]:
# # 正確性の可視化
# import matplotlib.pyplot as plt
# %matplotlib inline

# plt.figure(figsize=(10, 6))
# plt.plot(history.history['acc'])
# plt.plot(history.history['val_acc'])
# plt.title('model accuracy')
# plt.ylabel('accuracy')
# plt.xlabel('epoch')
# plt.legend(['train', 'test'], loc='upper left')
# plt.show()

In [ ]:
# # 損失関数の可視化
# plt.figure(figsize=(10, 6))
# plt.plot(history.history['loss'])
# # plt.plot(history.history['val_loss'])
# plt.title('model loss')
# plt.ylabel('loss')
# plt.xlabel('epoch')
# # plt.legend(['train', 'test'], loc='upper left')
# plt.show()

In [72]:
# # モデルの読み込み
# # with open('text_summary.json',"w").write(model.to_json())

# # 重みの読み込み
# model.load_weights('text_summary.h5')
# print("Saved Model!")